@model Club
@{
    ViewData["Title"] = "Add Club";
}

<h2>Add Club</h2>

<form asp-action="AddNewClub" method="post">

    @* Using the async version as recommended by the DotNet Team to avoid deadlocks
        References:
        - https://github.com/aspnet/Mvc/issues/7083
        - https://github.com/aspnet/Docs/issues/5636)
    *@
    @await Html.PartialAsync("ClubForm")
    <button id="btnSave" type="submit" class="btn btn-dark">Save</button>
    <a href="Index" class="btn btn-outline-dark">Cancel</a>
</form>