
@{
    ViewData["Title"] = "Club";
}

<h2>Club</h2>

<table>
    <thead>
        <tr><td>Club Name</td><td>Founded</td><td>Crest</td><td>City</td><td>Country</td></tr>
    </thead>
    <tbody>
        <tr>
            <td>Flamengo</td>
            <td>1895-11-19</td>
            <td>
                <img class="crest" src="~/images/flamengo_logo.png" />
            </td>
            <td>Rio de Janeiro</td>
            <td>Brazil</td>
        </tr>
        <tr>
            <td>Real Madrid</td>
            <td>1902-03-06</td>
            <td>
                <img class="crest" src="~/images/real_madrid.jpg" />
            </td>
            <td>Madrid</td>
            <td>Spain</td>
        </tr>
    </tbody>
</table>