
@{
    ViewData["Title"] = "ManagePlayers";
}

<h2>ManagePlayers</h2>

<h3>Clube name: Flamengo</h3>

<h4>Players:</h4>

<table>
    <thead>
        <tr><td>Add player:</td></tr>
    </thead>
    <tbody>
        <tr><td><input type="text" /><input type="button" value="Add" class="button_green" /></td></tr>
    </tbody>
</table>

<br />

<table>
    <thead>
        <tr><td>Player name</td><td>Actions</td></tr>
    </thead>
    <tbody>
        <tr>
            <td>Arthur Vinícius</td>
            <td><a href="#">Remove</a>&nbsp;<select><option></option><option>Real Madrid</option></select></td>
        </tr>
        <tr>
            <td>Athila Paixão</td>
            <td><a href="#">Remove</a>&nbsp;<select><option></option><option>Real Madrid</option></select></td>
        </tr>
        <tr>
            <td>Bernardo Pisetta</td>
            <td><a href="#">Remove</a>&nbsp;<select><option></option><option>Real Madrid</option></select></td>
        </tr>
        <tr>
            <td>Christian Esmério</td>
            <td><a href="#">Remove</a>&nbsp;<select><option></option><option>Real Madrid</option></select></td>
        </tr>
        <tr>
            <td>Gedson Santos</td>
            <td><a href="#">Remove</a>&nbsp;<select><option></option><option>Real Madrid</option></select></td>
        </tr>
        <tr>
            <td>Jorge Eduardo</td>
            <td><a href="#">Remove</a>&nbsp;<select><option></option><option>Real Madrid</option></select></td>
        </tr>
        <tr>
            <td>Pablo Henrique</td>
            <td><a href="#">Remove</a>&nbsp;<select><option></option><option>Real Madrid</option></select></td>
        </tr>
        <tr>
            <td>Rykelmo de Souza Viana</td>
            <td><a href="#">Remove</a>&nbsp;<select><option></option><option>Real Madrid</option></select></td>
        </tr>
        <tr>
            <td>Samuel Thomas Rosa</td>
            <td><a href="#">Remove</a>&nbsp;<select><option></option><option>Real Madrid</option></select></td>
        </tr>
        <tr>
            <td>Vitor Isaías</td>
            <td><a href="#">Remove</a>&nbsp;<select><option></option><option>Real Madrid</option></select></td>
        </tr>
        <tr>
            <td>Jhonatan Cruz Ventura</td>
            <td><a href="#">Remove</a>&nbsp;<select><option></option><option>Real Madrid</option></select></td>
        </tr>
        <tr>
            <td>Francisco Diogo Bento Alves</td>
            <td><a href="#">Remove</a>&nbsp;<select><option></option><option>Real Madrid</option></select></td>
        </tr>
        <tr>
            <td>Cauan Emanuel Gomes Nunes</td>
            <td><a href="#">Remove</a>&nbsp;<select><option></option><option>Real Madrid</option></select></td>
        </tr>
    </tbody>
</table>
