
@{
    ViewData["Title"] = "Menu";
}

<h2>Menu</h2>
<div><a asp-action="Club">Club</a></div>
<div><a asp-action="AddClub">Add Club</a></div>
<div><a asp-action="ShowClubDetails">Club</a></div>
<div><a asp-action="ManagePlayers">Manage Players</a></div>
