
@{
    ViewData["Title"] = "ShowClubDetails";
}

<h2>Club Details</h2>
<table>
    <tr><td>Clube name:</td><td>Flamengo</td></tr>
    <tr><td>Founded:</td><td>1895-11-19</td></tr>
    <tr><td>Chest:</td><td><img src="~/images/flamengo_logo.png" /></td></tr>
    <tr><td>City:</td><td>Rio de Janeiro</td></tr>
    <tr><td>Country:</td><td>Brazil</td></tr>
</table>

<h4>Players:</h4>

<table>
    <thead>
        <tr><td>Player name</td></tr>
    </thead>
    <tbody>
        <tr><td>Arthur Vinícius</td></tr>
        <tr><td>Athila Paixão</td></tr>
        <tr><td>Bernardo Pisetta</td></tr>
        <tr><td>Christian Esmério</td></tr>
        <tr><td>Gedson Santos</td></tr>
        <tr><td>Jorge Eduardo</td></tr>
        <tr><td>Pablo Henrique</td></tr>
        <tr><td>Rykelmo de Souza Viana</td></tr>
        <tr><td>Samuel Thomas Rosa</td></tr>
        <tr><td>Vitor Isaías</td></tr>
        <tr><td>Jhonatan Cruz Ventura</td></tr>
        <tr><td>Francisco Diogo Bento Alves</td></tr>
        <tr><td>Cauan Emanuel Gomes Nunes</td></tr>
    </tbody>
</table>
