@model Club
@{
    if (Model?.ClubID != 0)
    {
        ViewData["Title"] = "Update Club";
    }
    else
    {
        ViewData["Title"] = "Add Club";
    }
}
<h2>@ViewData["Title"]</h2>

<br />

<form asp-action="SaveClub" method="post">

    @* Using the async version as recommended by the DotNet Team to avoid deadlocks
        References:
        - https://github.com/aspnet/Mvc/issues/7083
        - https://github.com/aspnet/Docs/issues/5636)
    *@
    <input type="hidden" asp-for="ClubID" />
    @await Html.PartialAsync("ClubForm")
    <button id="btnSave" type="submit" class="btn btn-dark">Save</button>
    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-dark">Cancel</a>
</form>