<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/styles.css" rel="stylesheet" />
</head>
<body>
    <div id="divTop">
        <table style="border:0px;">
            <tr>
                <td><img id="imgTopLogo" src="~/images/logo.png" /></td>
                <td id="tdTitle">A Soccer club management system</td>
            </tr>
        </table>
    </div>
    <div id="divBody">
        @RenderBody()
    </div>
    <br />
    <div id="divBottom">COMP 229 - Web Application Development - by Jovane Marques</div>
</body>
</html>
