table tr td {
    border: 1px solid green;
    padding:2px;
}

.button_green {
    background-color: white;
    color: black;
    border: 2px solid green;
}

thead {
    font-weight: bold;
}

.crest {
    width: 10px;
    height: 10px;
}

#divTop {
}

#divBody {
}

#divBottom {
}

#imgTopLogo {
    /*border: 1px solid red;*/
    width: 100px;
    height: 100px;
}

#tdTitle {
    font-size: 40pt;
    font-family: Calibri;
    color: darkgreen;
}

.h1 {
    font-size: 40pt;
    font-family: Calibri;
    color: black;
}

.h2 {
    font-size: 35pt;
    font-family: Calibri;
    color: #007d48;
}

.h3 {
    font-size: 25pt;
    font-family: Calibri;
    color: black;
}

.h4 {
    font-size: 20pt;
    font-family: Calibri;
    color: black;
}
